/*body, div, hr, .list-group-item{
  background-color: black;
  color:grey;
  border-color:grey;
}*/
.section {
  padding-bottom: 5em;
  padding-top: 4em;
}

.main-content {
  height: 54vh;
}
.navbar {
  transition: 500ms ease;
  background-color: #343a40;
}

.navbar a {
  color: lightgrey;
}

.navbar.scrolled {
  background-color: #f8f9fa;
}

.navbar.scrolled a {
  color: black;
}

/****** Style Star Rating Widget *****/
.rating > span:before {
  margin: 5px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > span {
  color: #ddd;
  float: right;
}

.colored:before {
  color: #FFD700;
}

.white:before {
  color: white;
}

/********/
.stack {
  width: 30%;
}
.projects {
  width: 24%;
}

.position-absolute {
  width: 85%;
  bottom: 1.25rem;
}

#legend {
  margin-bottom: 0;
}

#experience {
  border-right: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 3vh;
}

hr {
  margin-top: 0rem;
  margin-bottom: -0.5rem;
}

.legend {
  flex: 0 0 30%;
  max-width: 24%;
}

.legend > fieldset > span:before {
  font-size: 1em;
}

/**** Timeline ****/
.line {
  width: 0;
  border: 1px solid lightgrey;
}

.circle {
  content: "";
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  position: relative;
  left: -0.085%;
  z-index: 1;
  background-color: white;
}

@media screen and (max-width:1199px) {
  nav {
    display: none !important;
  }

  #presentation {
    display: none !important;
  }

  #stack {
    display: none !important;
  }

  #portofolio {
    display: none !important;
  }

  #background {
    display: none !important;
  }

  #contact {
    display: none !important;
  }

  #message {
    color: lightgrey;
    display: block;
    background-color: #343a40;
    height: 100vh;
  }

}

@media screen and (min-width:1199px) {
  #message {
    display: none;
  }

}
